@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    position: relative;
}

.container1 {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 630px;
}

.container2 {
    background-image: linear-gradient(to left top, #193763, #006293, #008d98, #00b46a, #8fcf00);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 600px;
    border-radius: 15px;
}

#header {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
}

.temp {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: white;
}

.city-name {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 120px;
    gap: 10px;
}

.footer-left,
.footer-right {
    display: flex;
}

.humidity,
.wind-speed {
    color: white;
    font-size: 20px;
    padding-top: 0.3rem;
    padding-left: 1rem;
}

.text {
    color: white;
    font-size: 15px;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

#img1 {
    width: 130px;
    height: 130px;
}